	body {
 	border-radius: 5px;
    background-color: #1d1e22;
    padding: 20px;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif; 
    font-color: #d4d4dc;
	color:#d4d4dc;
	text-align:center;