<html>
  <body>
    <header id="header1">Add Payment</header>
    <div id="border1"></div>
    <br>
    <form id="Form1" action="/login" method="POST">
     <input id="input1" type="text" name="Credit Card" placeholder="Credit Card Number">
    <br></br>
    <input id="input2" type="text" name="Date" placeholder="MM/YY">
    <input id="input3" type="text" name="Code" placeholder="CCV">
  <br></br>
<input id="input1" type="text" name="Zip" placeholder="Zipcode">
<br></br>
<button id="btn1" type="submit">Save</button>
</form>
  </body>
</html>