<html>
  <body>
    <header  id="header1">PickMeUp</header>
    <div id="border1"></div>
    <br></br>
  <button id="btn1" type="button">Order</button>
  <button id="btn1" type="button" onclick="location.href='Settings.vm'">Settings</button>
  <br></br>

  </body>
</html>