<html>
  <body>
    <header  id="header1">PickMeUp</header>
    <div id="border1"></div>
    <br></br>
  <button id="btn1" type="button">Sign In</button>
  <br></br>
  <button id="btn1" type="button" onclick="location.href='Sign_Up.vm'">Register</button>
<br></br>
<button id="btn1" type="button">About</button>

  <br></br>

  </body>
</html>